## Global Unemployment Dataset
# https://www.kaggle.com/datasets/sazidthe1/global-unemployment-data/data

In [26]:
import pandas as pd
import matplotlib as plt
csvFile = pd.read_csv('global_unemployment_data.csv')
csvFile.head()

,country_name,indicator_name,sex,age_group,age_categories,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Unemployment rate by sex and age,Female,15-24,Youth,13.340,15.974,18.570,21.137,20.649,20.154,21.228,21.640,30.561,32.200,33.332
1,Afghanistan,Unemployment rate by sex and age,Female,25+,Adults,8.576,9.014,9.463,9.920,11.223,12.587,14.079,14.415,23.818,26.192,28.298
2,Afghanistan,Unemployment rate by sex and age,Female,Under 15,Children,10.306,11.552,12.789,14.017,14.706,15.418,16.783,17.134,26.746,29.193,30.956
3,Afghanistan,Unemployment rate by sex and age,Male,15-24,Youth,9.206,11.502,13.772,16.027,15.199,14.361,14.452,15.099,16.655,18.512,19.770
4,Afghanistan,Unemployment rate by sex and age,Male,25+,Adults,6.463,6.879,7.301,7.728,7.833,7.961,8.732,9.199,11.357,12.327,13.087

In [27]:
csvFile.shape

(1134, 16)

In [28]:
csvFile.info

<bound method DataFrame.info of      country_name                    indicator_name     sex age_group  \
0     Afghanistan  Unemployment rate by sex and age  Female     15-24
1     Afghanistan  Unemployment rate by sex and age  Female       25+
2     Afghanistan  Unemployment rate by sex and age  Female  Under 15
3     Afghanistan  Unemployment rate by sex and age    Male     15-24
4     Afghanistan  Unemployment rate by sex and age    Male       25+
...           ...                               ...     ...       ...
1129     Zimbabwe  Unemployment rate by sex and age  Female       25+
1130     Zimbabwe  Unemployment rate by sex and age  Female  Under 15
1131     Zimbabwe  Unemployment rate by sex and age    Male     15-24
1132     Zimbabwe  Unemployment rate by sex and age    Male       25+
1133     Zimbabwe  Unemployment rate by sex and age    Male  Under 15

     age_categories    2014    2015    2016    2017    2018    2019    2020  \
0             Youth  13.340  15.974  18.570  21.137  20.649  20.154  21.228
1            Adults   8.576   9.014   9.463   9.920  11.223  12.587  14.079
2          Children  10.306  11.552  12.789  14.017  14.706  15.418  16.783
3             Youth   9.206  11.502  13.772  16.027  15.199  14.361  14.452
4            Adults   6.463   6.879   7.301   7.728   7.833   7.961   8.732
...             ...     ...     ...     ...     ...     ...     ...     ...
1129         Adults   4.262   4.586   4.773   4.900   5.027   5.309   6.345
1130       Children   5.174   5.666   6.014   6.289   6.555   6.990   8.494
1131          Youth   6.007   7.131   8.119   9.029   9.927  11.048  13.191
1132         Adults   3.677   4.325   4.843   5.287   5.722   6.362   6.996
1133       Children   4.355   5.152   5.821   6.410   6.984   7.760   8.809

        2021    2022    2023    2024
0     21.640  30.561  32.200  33.332
1     14.415  23.818  26.192  28.298
2     17.134  26.746  29.193  30.956
3     15.099  16.655  18.512  19.770
4      9.199  11.357  12.327  13.087
...      ...     ...     ...     ...
1129   7.792   7.704   7.597   7.528
1130   9.853   9.670   9.518   9.414
1131  14.261  13.966  13.675  13.485
1132   7.234   6.858   6.757   6.703
1133   9.223   8.842   8.713   8.632

[1134 rows x 16 columns]>

In [29]:
csvFile.describe()

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1128.000000,1122.000000,1122.000000
mean,11.387800,11.272444,11.122963,10.863516,10.516499,10.311452,11.851285,11.422645,10.340361,9.985181,9.940089
std,11.119002,10.915942,10.742947,10.640980,10.527773,10.297952,11.231580,10.873412,10.264810,9.987778,9.977512
min,0.027000,0.034000,0.038000,0.035000,0.044000,0.036000,0.056000,0.064000,0.067000,0.063000,0.060000
25%,3.933500,3.993500,3.945250,3.747500,3.672750,3.538500,4.334500,4.153500,3.555250,3.477500,3.459750
50%,7.697500,7.547500,7.504500,7.140500,6.706000,6.627500,8.067500,7.542500,6.571500,6.466000,6.364000
75%,15.050750,14.766250,14.467500,14.142000,13.343000,13.285500,15.316250,14.881500,13.410000,12.914500,12.687750
max,74.485000,74.655000,74.720000,75.416000,76.395000,77.173000,83.990000,82.135000,78.776000,78.541000,78.644000

In [30]:
csvFile.isnull().sum()

country_name       0
indicator_name     0
sex                0
age_group          0
age_categories     0
2014               0
2015               0
2016               0
2017               0
2018               0
2019               0
2020               0
2021               0
2022               6
2023              12
2024              12
dtype: int64

In [31]:
percent_missing = csvFile.isnull().sum() * 100 / len(csvFile)
missing_table = pd.DataFrame({'column_name': csvFile.columns,
                              'percent_missing': percent_missing})

missing_table

                   column_name  percent_missing
country_name      country_name         0.000000
indicator_name  indicator_name         0.000000
sex                        sex         0.000000
age_group            age_group         0.000000
age_categories  age_categories         0.000000
2014                      2014         0.000000
2015                      2015         0.000000
2016                      2016         0.000000
2017                      2017         0.000000
2018                      2018         0.000000
2019                      2019         0.000000
2020                      2020         0.000000
2021                      2021         0.000000
2022                      2022         0.529101
2023                      2023         1.058201
2024                      2024         1.058201

In [32]:
## Replacing the null values in Year using median
median_value = csvFile['2022'].median()
csvFile['2022'].fillna(median_value, inplace=True)

median_value

C:\Users\cheng\AppData\Local\Temp\ipykernel_3300\3667734123.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  csvFile['2022'].fillna(median_value, inplace=True)

6.5715

In [33]:
csvFile.isnull().sum()

country_name       0
indicator_name     0
sex                0
age_group          0
age_categories     0
2014               0
2015               0
2016               0
2017               0
2018               0
2019               0
2020               0
2021               0
2022               0
2023              12
2024              12
dtype: int64

In [36]:
# replacing the others as well
median_value_2023 = csvFile['2023'].median()
csvFile.fillna({'2023':median_value_2023}, inplace=True)
median_value_2024 = csvFile['2024'].median()
csvFile.fillna({'2024':median_value_2024}, inplace=True)

In [37]:
csvFile.isnull().sum()

country_name      0
indicator_name    0
sex               0
age_group         0
age_categories    0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
2020              0
2021              0
2022              0
2023              0
2024              0
dtype: int64

In [39]:
data = csvFile.drop('indicator_name', axis = 1)
data.head()

,country_name,sex,age_group,age_categories,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Female,15-24,Youth,13.340,15.974,18.570,21.137,20.649,20.154,21.228,21.640,30.561,32.200,33.332
1,Afghanistan,Female,25+,Adults,8.576,9.014,9.463,9.920,11.223,12.587,14.079,14.415,23.818,26.192,28.298
2,Afghanistan,Female,Under 15,Children,10.306,11.552,12.789,14.017,14.706,15.418,16.783,17.134,26.746,29.193,30.956
3,Afghanistan,Male,15-24,Youth,9.206,11.502,13.772,16.027,15.199,14.361,14.452,15.099,16.655,18.512,19.770
4,Afghanistan,Male,25+,Adults,6.463,6.879,7.301,7.728,7.833,7.961,8.732,9.199,11.357,12.327,13.087

In [ ]:
Unemployment_2024 = data['2024']